html {
    margin-top: 0 !important;
}
input.number-noarrow::-webkit-outer-spin-button,
input.number-noarrow::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input.number-noarrow[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

@media (min-width: 768px) {
    #navbarApp .dropdown-menu {
        transform: translateX(0);
    }
    #navbarApp .dropdown-menu.show {
        transform: translateX(-53%);
    }
    #app-main .col-products {
        height: calc(100vh - 56px);
    }
    #app-main .list-products {
        height: calc(100vh - 8rem);
    }
}